
 body{
     height: 100vh;
     padding: 0px;
     margin: 0px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size : 150px;
     background-color:black;
     color:white;
     font-family: 'Inter', sans-serif;
 }  

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center }
    
.container p {
    font-size : 150px;
    margin: 0 }


    .isBot{
        background-color: black;
        font-size : 150px;
        animation: bigger 1.5s  ease-in;  
    }

    @keyframes bigger {
        0%   {transform: scale(0); opacity: 0;}
        100% {transform: scale(1); opacity: 1;}
      }

      .isBot2{
        background-color: black;
        font-size : 270px;
        animation: little 1.5s  ease-in;  
    }


    .isPerson{
        background-color: black;
        font-size :270px;
        animation: little 1.5s  ease-in;
        animation-fill-mode: forwards;
        animation-delay: 0s;
    }

    @keyframes little {
        0%   {transform: scale(1); opacity: 1;}
        100% {transform: scale(0);
        opacity: 0;}
      }

     #screenMessage {
        background-color: black;
        font-size : 270px;
        animation: bigger 1.5s  ease-in;  
     }